@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, aqua, gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vh;
}

.container h1{
    color: #fff;
    font: bold 120px/1.3 "Zain", sans-serif;
    /* font-family: "Zain", sans-serif;
    font-size: 120px;
    font-weight: 700;
    font-style: normal; */
    /* letter-spacing: 10px; 이 폰트에서는 굳이 안 해도 될듯*/
}

.container ul{
    display: flex;
    width: 500px;
}

.container li{
    flex: 1;
    text-align: center;
}

.container li a{
    font-size: 26px;
    color: #fff;
}

@media (max-width: 600px) {
    .container{gap: 10vh;}
    .container h1{font-size: 70px;}
    .container ul{width: 70%;}
    .container li a{font-size: 18px;}
}