@charset "UTF-8";

@font-face {
    font-family: '11StreetGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/11StreetGothic-Kor.woff2') format('woff2');
    font-weight: 400;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 0 40px;
    background: linear-gradient(45deg, aqua, gold);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{margin-top: 30vh;}

h1 a{
    font: 90px/1.3 "Zain", sans-serif;
    letter-spacing: -2px;
    position: relative;
}

h1 a::after{
    display: block;
    content: "";
    width: 180px;
    height: 2px;
    background-color: #fff;
}

h1 a::before{
    display: block;
    content: "UX/UI Responsive Web Design";
    letter-spacing: -1px;
    font-size: 15px;
    opacity: 0.6;

    position: absolute;
    bottom: -40px;
}

.sns{
    position: absolute;
    bottom: 100px;
    display: flex;
}

.sns li{margin: 0 6px;}
.sns li i{font-size: 18px;}

.sns li span{
    display: inline-block;
    font-size: 14px;
    opacity: 0.7;
    transform: translateY(-2px);
}


/* main */
main{
    margin-left: 400px;
    padding: 20px;
    /* background-color: rgb(161, 137, 226); */
}

/* main - nav */
nav{
    text-align: center;
    margin-bottom: 30px;
}

nav ul{
    display: inline-block;
}

nav ul::after{
    display: block;
    content: "";
    clear: both;
}

nav li{
    float: left;
    margin: 20px 10px 50px;
}

nav a{
    font-family: "11StreetGothic", sans-serif;
    font-size: 20px;
}

nav a.on{
    color: #BFE140;
    border-bottom: 2px solid #BFE140;
}


/* main-section */
article{
    float: left;
    width: 25%;
    margin-bottom: 50px;
}

article a{
    display: block;
    padding: 10px;
    position: relative;
}


article img{width: 100%;}

.text_wrap{
    position: absolute;
    width: calc(100% - 20px);
    text-align: center;
    transition: 0.3s;
}

.text_wrap .title{
    font: bold 20px/1.3 "Zain", sans-serif;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
    top: 0;
}

.text_wrap .cate{
    font-family: "11StreetGothic", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.3s;
    position: relative;
}

article:hover .text_wrap{
    top: 10px;
    bottom: 10px;
    background-color: rgba(65, 105, 225, 0.466);
}

article:hover .title{
    color: #fff;
    top: 50%;
}

article:hover .cate{
    color: #fff;
    top: calc(50% - 40px);
}

/* masonry */
.masonry nav{text-align: right;}
.masonry nav li{width: 100px;}
.masonry nav a{
    display: inline-block;
    width: 100%;
    font-size: 13px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 8px 0 4px;
    color: #888;
    font-weight: bold;
}
.masonry nav a.on{
    background: linear-gradient(45deg, aqua, gold);
    color: #fff;
    border-bottom: none;
}

.masonry section li{
    width: 20%;
    float: left;
    padding: 12px;
}
.masonry section li a{
    display: block;
}
.masonry section li a > div{
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.masonry img{
    width: 100%;
}

.masonry .textWrap .title{
    font: bold 20px/1.3 "Zain", sans-serif;
    color: #444;
    padding: 10px 0 3px;

}

.masonry .textWrap .title + p{
    font-size: 12px;
    color: #939393;
}



/* popup */
.popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup > div{
    background-color: #fff;
    padding: 20px 20px 50px;
    border-radius: 5px;
}


.popup.on{
    display: flex;
}


/* 반응형 */
@media (max-width: 1599px) {
    header{width: 350px;}
    main{margin-left: 350px;}
    .sns{text-align: center;}
    .masonry section li{width: 25%;}
}

@media (max-width: 1400px){
    header{
        position: relative;
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
    }

    h1{margin-top: 0;}
    h1 a{
        font-size: 36px;
        font-weight: bold;
    }
    h1 a::after{width: 60px;}
    h1 a::before{display: none;}

    .sns{
        position: relative;
        bottom: auto;
    }

    .sns li{margin: 0 2px;}

    .sns li span{display: none;}

    main{
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    article{width: 33.33%;}
    .masonry section li{width: 33.33%;}
}

@media (max-width: 768px) {
    article{width: 50%;}
    .masonry section li{width: 50%;}
}

@media (max-width: 560px) {
    header{justify-content: center;}
    h1 a:after{width: 100%;}
    .sns{display: none;}

    main{padding: 20px 10px;}
    nav{margin-bottom: 10px;}
    nav li{margin: 0px 6px; float: left;}
    nav a{font-size: 14px;}

    .masonry nav{text-align: center;}
    .masonry nav li{width: 80px;}
    .masonry nav a{
        font-size: 12px;
        padding: 6px 0 6px;
    }
    .masonry section li{width: 100%;}
}